fastapi
sqlalchemy
notebook
python-dotenv
pydantic
python-jose
passlib[bcrypt]
langchain-core
langchain-openai
langchain-community
langchain-huggingface
langchain-chroma
unstructured
requests
huggingface-hub
chromadb
psycopg2-binary
python-multipart
mlflow
ensure
# -e . #This is required for creation as a local project